:root {
    --ff: sans-serif;
    --input-color: #d7d7d7;
    --input-hover-color: #9b9b9b;
    --input-border: 2px solid var(--input-color);
    --input-hover-border: 2px solid var(--input-hover-color);
}

.header {
    font-family: var(--ff);
    width: 100%;
    height: 50px;
    background: #f1f1f1;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-left: 8px;
}

.main {
    font-family: var(--ff);
    text-align: center;
}

.inputs-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 290px;
}

.input {
    border: var(--input-border);
    border-radius: 5px;
    padding: 8px;
    margin: 4px;
    text-align: right;
}

.input:hover, .input:focus {
    outline: none;
    border: var(--input-hover-border);
}

.btn-wrapper {
    margin-top: 8px;
}

.btn {
    padding: 8px;
    border-radius: 5px;
    border: var(--input-border);
    background: var(--input-color);
}

.btn:hover {
    border: var(--input-hover-border);
    cursor: pointer;
}

.label-error {
    color: red;
    font-style: italic;
    font-size: 12px;
    text-align: left;
    padding-left: 8px;
    height: 24px;
}

.input-error {
    border: 2px solid red;
}

.result {
    display: none;
}

.result .loader-wrapper {
    display: none;
}

.result .results-show {
    display: none;
}

.result.loading, .result.show {
    display: block;
}
.result.loading .loader-wrapper {
    display: block;
}
.result.show .results-show {
    display: block;
}
